<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ScaleUp</title>
  <script type="module" crossorigin src="/static/source/vite/modulepreload-polyfill-B5Qt9EMX.js"></script>
  <script type="module" crossorigin src="/static/source/__commonjsHelpers__-CqkleIqs.js"></script>
  <script type="module" crossorigin src="/static/source/vendor-Bk7EVBWR.js"></script>
  <script type="module" crossorigin src="/static/source/components-9qO-Gi_d.js"></script>
  <script type="module" crossorigin src="/static/source/assets-Bsl8ab5B.js"></script>
  <script type="module" crossorigin src="/static/source/app-CkSXQQcp.js"></script>
  <link rel="stylesheet" crossorigin href="/static/source/app-DcTpIoyB.css">
</head>

<body>
  <div id="root"></div>
</body>

</html>